image:
- Visual Studio 2019
- macOS

skip_branch_with_pr: true
stack: python 3.10

environment:
  GITHUB_TOKEN:
    secure: 7sOlr0sdn+ttszef9sj9sl8T6Yn+2mS+Bj2yYuEuGAt4ihqrydk1mlDR0q8+XgD1

install:
- pip install pyinstaller
- pip install -r requirements.txt

#build_script:
#- flet pack gui.py --name "Metro Scraper" --product-name "Metro Scraper" --add-data "./utils.py;utils.py" --product-version "1.1" --copyright "Copyright (c) 2023 TheEthicalBoy"

test: off

# Publish artifacts to GitHub Releases on "tag" builds
deploy:
  provider: GitHub
  auth_token: $(GITHUB_TOKEN)
  on:
    APPVEYOR_REPO_TAG: true

#
#   Windows package
# 
for:
-
  matrix:
    only:
    - image: Visual Studio 2019
  
  build_script:
  - flet pack gui.py --name "Metro Scraper" --product-name "Metro Scraper" --add-data "./utils.py;utils.py" --product-version "1.1" --copyright "Copyright (c) 2023 TheEthicalBoy"

  after_build:
  - 7z a metro-scraper-windows.zip %CD%\dist\*.exe

  artifacts:
  - path: metro-scraper-windows.zip

#
#   macOS package
#
-
  matrix:
    only:
    - image: macOS

  build_script:
    - flet pack gui.py --name "Metro Scraper" --product-name "Metro Scraper" --add-data "./utils.py:utils.py" --product-version "1.1" --copyright "Copyright (c) 2023 TheEthicalBoy"


  after_build:
  - tar -czvf metro-scraper-macos.tar.gz -C dist metro-scraper.app

  artifacts:
  - path: metro-scraper-macos.tar.gz

